@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: #e3edf7;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
}
a {
  text-decoration: none;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo2{
    width: 45px;
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}
h1{
  font-family: sans-serif;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 4px;
  margin: 15% 0 10% 0;
  color: var(--extra-light);
  text-align: center;

}
.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.social-media{
  display: flex;
  justify-content: center;
}
.icon{
  display: flex;
  background: #e3edf7;
  height: 75px;
  width: 75px;
  margin: 0 15px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-decoration: none ;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
  border: 1px solid rbga(0,0,0,0);
  transition: transform 0.5s;
}
.icon i{
  font-size: 35px;
  color: #777;
  transition: transform 0.5s;
}
.icon:hover{
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0px 12px 10px -10px rgba(0,0,0,0.05);
  border: 1px solid rbga(0,0,0,0.01);
  transform: translateY(2px);
}
.icon:hover i{
  transform: scale(0.90);
}
.icon:hover .fa-facebook{
  color: #3b5998;
}
.icon:hover .fa-twitter{
  color: #00acee;
}
.icon:hover .fa-instagram{
  color:#f14843 ;
}
.icon:hover .fa-google{
  color: #4fce5d ;
}
.icon:hover .fa-youtube{
  color: #f00;
}
@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }
  .social-media{
    margin: auto;
  }
  h1{
    margin: 10% 5% 10% 5%;
  }
  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  ul li a {
    font-size: 1.25rem;
  }
}